.tool-main h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* Two boxes (rows) per column */
    grid-auto-flow: row;
    gap: 10px;
}

#length {
    border-radius: 30px;
    text-align: center;
    border: 1px gainsboro solid;
    padding: 2px;
}

#length:hover {
    border: 1px gainsboro solid;
}

.form-group div {
    font-weight: bold;
}

.jh {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* Two boxes (rows) per column */
    grid-auto-flow: row;
    gap: 10px;
}

#copy-btn {
    width: max-content;
}

.result-content {
    padding: 7px;
    width: 100%;
    height: max-content;
}

.result-card {
    padding: 8px;
    height: max-content;
    background-color: transparent;
}

.strength-meter-visual {
    display: inline-block;
    width: 40px;
    height: 10px;
    background: #ddd;
    margin-right: 5px;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.strength-meter-word,
.jo,
#custom-entropy-result,
#entropy-result {
    font-weight: bold;
    font-size: large;
}

.custom-check h4 {
    text-align: center;
}

.custom-check {
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 20px 0;
}

.custom-check div:first-child {
    margin-top: 10px;
}

/*  */
.custom-input-t-1 {
    width: 100%;
    padding: var(--space-xs);
    font-size: large;
    border-radius: 55px;
    border: 1px gray solid;
}

/*  */
@media (min-width: 768px) {
    .tool-main {
        display: grid;
        grid-template-columns: repeat(2, auto);
        /* Two boxes (rows) per column */
        grid-auto-flow: row;
        gap: 50px;
    }

    .pg-1,
    .pg-2 {}
}